/* MAIN SECTION */
main {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main h1 {
    font-size: 62px;
    letter-spacing: 10px;
    color: #dfdfdf;
    text-shadow: 1px 1px gray;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    animation: 700ms opacityheading ease-in-out;  
}

@keyframes opacityheading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main div {
    height: 1rem;
    width: 43rem;
    animation: 1s cometogether ease-in-out;
}

@keyframes cometogether {
    0% {
        height: 50rem;
    }
    25% {
        height: 1rem;
    }
    50% {
        height: 3rem;
    }
    75% {
        height: 0;
    }
    100% {
        height: 1rem;
    }
}

main h1:nth-child(1) {
    width: 43rem;
    border: 2px solid #dfdfdf;
    border-bottom: none;
    padding-left: 10px; 
    border-radius: 3px 3px 0 0;
}

main h1:nth-child(3) {
    width: 43rem;
    letter-spacing: 22px;
    border: 2px solid #dfdfdf;
    border-top: none;
    padding-left: 22px;
    border-radius: 0 0 3px 3px;
}

@media screen and (max-width: 700px){    
    main h1 {
        font-size: 40px;
    }

    main div {
        width: 26rem;
    }

    main h1:nth-child(1) {
        width: 26rem;
        letter-spacing: 4px;
        padding-left: 4px;
        border-radius: 3px 3px 0 0;
    }

    main h1:nth-child(3) {
        width: 26rem;
        letter-spacing: 12px;
        padding-left: 12px;
        border-radius: 0 0 3px 3px;
    }
}

@media screen and (max-width: 440px){
    main h1 {
        font-size: 28px;
    }

    main div {
        width: 18rem;
    }

    main h1:nth-child(1) {
        width: 18rem;
        letter-spacing: 2px;
        padding-left: 2px;
        border-radius: 3px 3px 0 0;
    }

    main h1:nth-child(3) {
        width: 18rem;
        letter-spacing: 9px;
        padding-left: 9px;
        border-radius: 0 0 3px 3px;
    }
}